.b-dialog-delete {
    display: flex;
    width: 100%;

    .left {
        flex: 1;
    }

    .right {
        margin-left: 16px;
    }

    .title {
        font-weight: 600;
        color: oklch(21% .034 264.665);
        font-size: 16px;
    }

    .description {
        margin-top: 12px;
        color: oklch(55.1% .027 264.364);
        font-size: 14px;
        line-height: 1.6;
    }

    .icon {
        background-color: #fdecea;
        border-radius: 50%;
        display: inline-flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .verify-password {
        margin-top: 16px;
    }

    .verify-password .verify-password-label {
        font-weight: 600 !important;
        font-size: 13px !important;
        text-transform: none !important;
        color: oklch(21% .034 264.665) !important;
        width: 100%;
    }

    .verify-password .verify-password-input {
        margin-top: 8px;
        height: 48px !important;
        width: 100%;
        input {
            font-size: 18px !important;
        }
    }
}
